@mixin img_section_1_background {
  background-color: rgb(100, 201, 100);
}
@mixin img_section_2_background {
  background-color: rgb(157, 215, 114);
}
@mixin img_section_3_background {
  background-color: rgb(253, 206, 23);
}
@mixin img_section_4_background {
  background-color: rgb(253, 132, 70);
}
@mixin img_section_5_background {
  background-color: rgb(253, 86, 95);
}
.DiaryItem {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-radius: 5px;
  padding: 15px 0px;

  border-bottom: 1px solid white;
  .info_section {
    flex: 1;
    font-size: 13px;

    .created_date {
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
    .content {
      cursor: pointer;
      font-size: 16px;
    }
  }

  .img_section {
    cursor: pointer;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    &.img_section_1 {
      @include img_section_1_background;
    }
    &.img_section_2 {
      @include img_section_2_background;
    }
    &.img_section_3 {
      @include img_section_3_background;
    }
    &.img_section_4 {
      @include img_section_4_background;
    }
    &.img_section_5 {
      @include img_section_5_background;
    }
  }
}
