@mixin Editor {
  font-size: 20px;
  font-weight: bold;
}
@mixin area {
  background-color: rgb(236, 236, 236);
  border: none;
  color: black;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
}
.Editor {
  @include Editor;

  input {
    @include area;
  }
  textarea {
    @include area;
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    resize: vertical;
  }
  .emotion_section {
    .emotion_list_wrapper {
      display: flex;
      justify-content: space-around;
      gap: 1%;
    }
  }
  .button_section {
    display: flex;
    justify-content: space-between;
  }
}
