.EmotionItem {
  cursor: pointer;
  .emotion_img {
    height: 70px;

    transition: width 2s ease-in 0s;
    border-radius: 50%;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.891);
    }
  }
}
